body{
	background-image: url(https://cdn.discordapp.com/attachments/1051562414405079135/1055219309921701928/image.png);
}
form{
	font-size: 16px;
	font-weight: bold;
	font-family: Work Sans;
}
hr{
	background-color: rgba(0,0,0,.4);
	height: 1px;
}

.login-box{
	font-family: sans-serif;
	text-align: center;
	
	width: 400px;
	
	border-radius: 10px;
	background-color: #72b7c0;
	padding: 20px;
	position: absolute;
	
	top: 50%;
	left: 50%;
	
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

input[type=password], select {
	width: 100%;
	padding: 25px 15px;
	margin: 10px 0px 10px 0px;
	display: inline-block;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	box-sizing: border-box;
}
input[type=text], select {
	width: 100%;
	padding: 25px 15px;
	margin: 0px 0px 10px 0px;
	display: inline-block;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	box-sizing: border-box;
}
::placeholder{
	font: 16px sans-serif;
	overflow: visible;
}
.btn-log, .btn-log:visited{
	margin: 10px 0px 0px 0px;
	width: 100%;
	height: 55px;
	border-radius:10px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	color: #000 !important;
	border: 3px solid #176DC1 !important;
	background-color: #67B2FC !important;
	font-size: 20px;
}
.btn-log:hover {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
.btn-log:active {
	background-color: #56a0e9 !important;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.btn-new, .btn-new:visited{
	width: 60%;
	height: 55px;
	border-radius:10px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
	color: #000 !important;
	border: 3px solid #176DC1 !important;
	background-color: #67B2FC !important;
	font-size: 20px;
}
.btn-new:hover {
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
.btn-new:active {
	background-color: #56a0e9 !important;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}