<!DOCTYPE html>
<html>
    <head>
        <title>{{ single_movie['title'] }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans|Lato">


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans|Lato">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/showtime.css') }}"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<style>
			body{
				font-family:Work Sans;
				background-color:#051524;
			}
			.body-container{
				margin:20px;
			}
		</style>

        <script>
            window.onload = function() {
                var id = "{{ single_movie['_id'] }}";
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    document.getElementById("movie_showtime").innerHTML = this.responseText;
                }
                xhttp.open("POST", "/showtime");
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("movie_id="+ id);
                {#console.log(id)#}
            }

            function changeButtonClass(id){
			    id = '#'+id;
                $(".nav li button").removeClass("btn-cur-date");
                $(".nav li button").addClass("btn-dif-date");
                console.log(id);
                $(id).removeClass("btn-dif-date");
                $(id).addClass("btn-cur-date");
            }
        </script>
    </head>

    <body>
	{% include "header.html" %}

	<div class="body-container">

		<div class="poster-title-container">

			<div class="poster-img">
			  <img class="" src="{{ single_movie['poster_url'] }}" alt="" style=" background-size:cover;">
			</div>

			<div class="image-title">
				<div class="row">
					<div class="col-4">
						<img class="d-block w-100" src="{{ single_movie['poster_url'] }}" width="421px" height="648px" alt="">

					</div>
					<div class="col-8">
					  <p class="mt-10" style="font-size: x-large"> {{ single_movie['title'] }} <br>

						Category: {{ single_movie['category'] }} <br>
						Duration: {{ single_movie['duration'] }} <br>
						Actor: {{ single_movie['actors'] }} <br>
						Genre: {{ single_movie['genre'] }} <br>
						Release: {{ single_movie['release'] }} <br>
						IMDB Rating: {{ single_movie['rating'] }} <br>
						Language: {{ single_movie['language'] }} </p>

						<a class="btn btn-primary" href="#"  >Get Tickets</a>
						<a class="btn btn-secondary" href="#"  >Watch Trailer</a>

					</div>
			  </div>
			</div>
		</div>

		<div class="description">

			<h4> Synopsis </h4>
			<p> Unlucky assassin Ladybug is determined to do his job peacefully after one too many gigs gone off the rails. Fate, however, may have other plans, as Ladybug's latest mission puts him on a collision course with lethal adversaries from around the globe—all with connected, yet conflicting, objectives—on the world's fastest train. </p>
		</div>





	</div>

	<!-- single movie section -->
	<div class="container-fluid" style="width:100%;" id="movie_showtime">
		<!--<h4 class="showtime-title"> Showtime </h4>-->
	</div>


	{% include "footer.html" %}
    </body>

</html>